body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: $base-color-text;
}
