@use "mixins.scss";

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width-only: 767px;

$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$color-primary: rgba(104, 183, 56, 1);
$color-primary-special: rgba(104, 183, 56, 0.85);
$color-secondary: rgba(94, 170, 47, 1);
$color-error: rgba(255, 130, 130, 1);

$base-color-text: rgba(68, 68, 68, 1);
$base-color-text-special: rgba(62, 62, 62, 1);
$base-color-text-active: rgba(107, 107, 107, 1);
$secondary-color-text: rgba(17, 17, 17, 1);
$tertiary-color-text: rgba(34, 34, 34, 1);

$bg-base: rgba(242, 242, 242, 1);
$bg-secondary:rgba(234, 234, 234, 1);
$bg-secondary-special: rgba(235, 235, 235, 1);

$border-color-base: rgba(231, 231, 231, 1);
$border-color-secondary: rgba(205, 205, 205, 1);
$border-color-tertiary: rgba(217, 217, 217, 1);
$border-color-tertiary-special: rgba(230, 230, 230, 1);

$icon-color: rgba(102, 102, 102, 1);
$button-color-active: rgba(255, 255, 255, 0.3);
