/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/title-h1.scss";
@import "./common/title-h2.scss";
@import "./common/title-h3.scss";
@import "./common/title-with-line.scss";
@import "./blocks/container.scss";
@import "./common/visually-hidden.scss";
@import "./blocks/button.scss";


/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/logo.scss";
@import "./blocks/main.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/advantages.scss";
@import "./blocks/card-more.scss";
@import "./blocks/catalog.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/example.scss";
@import "./blocks/hero.scss";
@import "./blocks/navigation.scss";
@import "./blocks/product-card.scss";
@import "./blocks/services.scss";
@import "./blocks/social.scss";
@import "./blocks/special-offer.scss";
@import "./blocks/subscribe.scss";

