.additional-products__item-name {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $tertiary-color-text;
  text-transform: uppercase;
}

.additional-products__item-value,
.additional-products__item-price {
  line-height: 14px;
}
