@use "../common/mixins.scss";
@use "../common/variables.scss";

.button {
  display: inline-block;
  font-family: variables.$font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: variables.$white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button--primary {
  background-color: variables.$color-primary;

  &:hover {
    background-color: variables.$color-secondary;
  }

  &:active {
    background-color: variables.$color-secondary;
    color: variables.$button-color-active;
  }

  &:disabled {
    opacity: 30%;
  }
}

.button--secondary {
  background-color: variables.$bg-base;
  color: variables.$base-color-text;

  &:hover {
    background-color: variables.$bg-secondary-special;
  }

  &:active {
    background-color: variables.$bg-secondary-special;
  }

  &:disabled {
    opacity: 30%;
  }
}
