@use "../common/mixins.scss";
@use "../common/variables.scss";

.button {
  display: inline-block;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button--primary {
  background-color: $color-primary;

  &:hover {
    background-color: $color-secondary;
  }

  &:active {
    background-color: $color-secondary;
    color: $button-color-active;
  }

  &:disabled {
    opacity: 30%;
  }
}

.button--secondary {
  background-color: $bg-base;
  color: $base-color-text;

  &:hover {
    background-color: $bg-secondary-special;
  }

  &:active {
    background-color: $bg-secondary-special;
  }

  &:disabled {
    opacity: 30%;
  }
}
