@use "../common/mixins.scss";
@use "../common/variables.scss";

.card-more {
  border-bottom: 1px solid $bg-secondary-special;
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
  }
}

.card-more__text {
  @media (min-width: $tablet-width) {
    padding: 0 38px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
    padding: 0;
  }
}

.card-more__text::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#catalog-card-plus");
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    transform: translate(55px, -3px);
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    transform: translate(53px, -2px);
    margin-bottom: 39px;
  }
}

.card-more__content {
  margin-bottom: 24px;
  padding: 24px 20px 0;
  border-top: 1px solid $bg-secondary-special;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 82px 0 0;
    padding: 50px 37px 38px;
    border: 2px solid $bg-base;
  }
}

.card-more__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  margin: 23px 0 8px;
  color: $secondary-color-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.card-more__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
}

.card-more__button {
  width: 100%;
  text-align: center;
  padding: 10px 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    padding: 10px 30px;
  }
}
