@use "../common/mixins.scss";
@use "../common/variables.scss";

.card-more {
  border-bottom: 1px solid $bg-secondary-special;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.card-more__text {
  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 auto 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.card-more__text::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#catalog-card-plus");
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50px;
    left: 132px;
  }

  @media (min-width: $desktop-width) {
    left: 92px;
  }
}

.card-more__content {
  margin-bottom: 17px;
  padding: 20px 20px 0;
  border-top: 1px solid $bg-secondary-special;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 82px 0 0;
    padding: 145px 37px 40px;
    border: 2px solid $bg-base;
    position: relative;
  }
}

.card-more__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  margin: 23px 0 8px;
  color: $secondary-color-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.card-more__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
}

.card-more__button {
  width: 100%;
  text-align: center;
  padding: 10px 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    padding: 10px 30px;
  }
}
