@use "../common/mixins.scss";
@use "../common/variables.scss";

.card-more {
  margin: 0 -20px;
  padding-top: 26px;
  text-align: center;
  border-bottom: 1px solid variables.$bg-secondary-special;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    gap: 0;
    flex-direction: column;
    min-width: 324px;
    min-height: 430px;
    margin: 0;
    margin-top: 81px;
    padding: 50px 35px 38px;
    justify-content: start;
    background: variables.$white;
    border: 2px solid variables.$bg-base;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    padding: 47px 36px 38px;
  }
}

.card-more::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#catalog-card-plus");
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    width: 60px;
    height: 60px;
    margin: 0 auto 50px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 39px;
  }
}

.card-more__title {
  font-family: variables.$font-secondary;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 7px;
  color: variables.$secondary-color-text;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 22px;
    max-width: 150px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 26px;
  }
}

.card-more__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    margin: 0 auto;
  }
}

.card-more__button {
  width: 100%;
  text-align: center;
  padding: 10px 30px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    width: 100%;
    padding: 10px 30px;
    margin-top: auto;
  }
}
