@use "../common/mixins.scss";
@use "../common/variables.scss";

.catalog {
  @media (min-width: $desktop-width) {
    margin-top: 47px;
    margin-bottom: 71px;
  }
}

.catalog__title {
  margin: 0;
  color: $black;
  padding: 27px 20px 41px;
  border-top: 1px solid $border-color-tertiary;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 0;
    margin-bottom: 84px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
