@use "../common/mixins.scss";
@use "../common/variables.scss";

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__text {
  display: grid;
  grid-template-columns: 140px 140px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 163px 157px;
    gap: 308px;
  }
}

.contacts__description {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-color-text;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

