@use "../common/mixins.scss";
@use "../common/variables.scss";

.copyright {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $base-color-text;
}

.copyright:active {
  opacity: 30%;
}

.copyright::after {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-academy");
  mask-position: center;
  mask-repeat: no-repeat;
  width: 27px;
  height: 34px;
  display: block;
  background-color: $icon-color;
}

.copyright:hover::after {
  background-color: $color-primary;
}

.copyright:active::after {
  background-color: $color-primary;
  opacity: 30%;
}
