@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  background-color: $bg-secondary;

  @media (min-width: $desktop-width) {
    background-color: $bg-base;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  line-height: 40px;
  color: $black;
}

.example__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__list-wrapper {
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 32px;

  @media (min-width: $tablet-width) and (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    gap: 43px;
  }
}

.example__total {
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}
