@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  background-color: $bg-secondary;

  @media (min-width: $tablet-width) {
    background: linear-gradient($white 55%, $bg-secondary 55%);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background: linear-gradient($white 23%, $bg-base 23%);
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.example__wrapper-content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px 1fr;
    column-gap: 224px;
  }
}

.example__wrapper-text {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0 75px;
    padding: 0;
  }
}

.example__title {
  line-height: 40px;
  margin: 0 0 40px;
  padding: 0;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0 0 17px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding-right: 3px;
  }
}

.example__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 366px;
    margin: 0;
  }
}

.example__list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.example__item {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__item-value {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 10px;
  text-align: center;
  border: 1px solid $border-color-secondary;
  border-radius: 3px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    min-width: 162px;
    padding: 18px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 10px;
  }
}

.example__item-text {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 115%);
  text-align: center;
  background-color: $bg-secondary;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 125px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-base;
    transform: translate(-50%, 142%);
  }
}

.example__total {
  font-family: $font-secondary;
  line-height: 20px;
  margin: 0;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: right;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 63px;
    margin: 0;
    text-align: left;
  }
}

.example__picture {
  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: $bg-secondary;
    min-height: 462px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    min-height: auto;
  }
}

.example__picture-content {
  @media (min-width: $tablet-width) {
    margin-top: -150px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -135px;
  }
}

.example__cats {
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 111px;
  }
}

.example__cats-picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.example__cats-picture--before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.example__cats-picture--after {
  clip-path: inset(0 0 0 50%);
}

.example__cats-button {
  position: absolute;
  top: 0;
  left: 140px;
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: $icon-color;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 50%;
  }

  &:hover {
    background-color: $color-primary;
  }

  &:active {
    background-color: $color-secondary;
    opacity: 60%;
  }
}

.example__cats-button::before {
  content: "";
  display: block;
  background-color: $white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $icon-color;
  position: absolute;
  top: 115px;
  left: -18px;

  @media (min-width: $tablet-width) {
    top: 46%;
  }
}

.example__cats-button:hover::before {
  border: 2px solid $color-primary;
}

.example__cats-button:active::before {
  background-color: $white;
  border: 2px solid $color-secondary;
  opacity: 60%;
}

.example__cats-button::after {
  content: "";
  display: block;
  background-color: $icon-color;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 126px;
  left: -10px;
  mask-image: url("../../icons/stack.svg#example-button");
  mask-position: center;
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 46%;
    transform: translate(1px, 10px);
  }
}

.example__cats-button:hover::after {
  background-color: $color-primary;
}

.example__cats-button:active::after {
  background-color: $color-secondary;
  opacity: 60%;
}
