@use "../common/mixins.scss";
@use "../common/variables.scss";

.footer {
  background-color: $bg-base;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 55px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 66px 25px 66px 30px;
  }
}

.footer__logo {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color-tertiary;

  &::after {
    content: "";
    display: block;
    height: 24px;
    mask-image: url("../../icons/stack.svg#logo-text");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $secondary-color-text;
  }

  &:hover::after {
    background-color: $base-color-text-special;
  }

  &:active::after {
    background-color: $base-color-text-active;
  }

  @media (min-width: $tablet-width) {
    width: 128px;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.footer__social {
  @media ((min-width: $tablet-width) and (min-width: $desktop-width)) {
    width: 132px;
  }
}

.footer__copyright {
  @media ((min-width: $tablet-width) and (min-width: $desktop-width)) {
    width: 168px;
  }
}
