@use "../common/mixins.scss";
@use "../common/variables.scss";

.footer {
  background-color: variables.$bg-base;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 36px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
    align-items: center;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 69px 25px 66px 30px;
  }
}

.footer__logo {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid variables.$border-color-tertiary;

  &::after {
    content: "";
    display: block;
    height: 24px;
    mask-image: url("../../icons/stack.svg#logo-text");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: variables.$secondary-color-text;
  }

  &:hover::after {
    background-color: variables.$base-color-text-special;
  }

  &:active::after {
    background-color: variables.$base-color-text-active;
  }

  @media (min-width: variables.$tablet-width) {
    width: 128px;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.footer__social {
  @media ((min-width: variables.$tablet-width) and (min-width: variables.$desktop-width)) {
    width: 132px;
  }
}

.footer__copyright {
  @media ((min-width: variables.$tablet-width) and (min-width: variables.$desktop-width)) {
    width: 168px;
  }
}
