@use "../common/mixins.scss";
@use "../common/variables.scss";

.header {
  font-family: variables.$font-secondary;
  font-size: 20px;
  line-height: 20px;
  color: variables.$black;
  position: relative;
}

.header--index::before {
  @media (min-width: variables.$desktop-width) {
    content: "";
    display: block;
    background-color: variables.$color-primary;
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    right: 0;
    z-index: -3;
    background-size: cover;
  }
}

.header--catalog {
  border-bottom: 1px solid variables.$border-color-tertiary;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 45px;
    border: none;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 57px;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 52px;
  }
}

.header__container:has(.navigation__list--nojs) {
  @media (max-width: variables.$mobile-width-only) {
    padding-bottom: 0;
  }
}

.header__logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  flex-grow: 1;
  max-width: calc(100% - 40px);
  gap: 6px;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: variables.$tablet-width) {
    width: 174px;
    padding: 0;
    margin: 0;
    gap: 13px;
    flex-grow: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
  }
}


.header__logo-text {
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    width: 118px;
  }
}
