@use "../common/mixins.scss";
@use "../common/variables.scss";

.header {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  position: relative;
}

.header--catalog {
  border-bottom: 1px solid $border-color-tertiary;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.header__container--nojs {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 0;
  }
}

.header__logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  flex-grow: 1;
  max-width: calc(100% - 40px);

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
    margin: 0;
    gap: 13px;
    flex-grow: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}


.header__logo-text {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 118px;
  }
}
