@use "../common/mixins.scss";
@use "../common/variables.scss";

.services__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.services__card {
  background-color: $bg-base;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.services__card::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.services__card--slim::before {
  background-image: url("../../images/cat-slim.svg");
  width: 50px;
  height: 53px;
}

.services__card--pro::before {
  background-image: url("../../images/cat-pro.svg");
  width: 67px;
  height: 50px;
}

.services__card-title {
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
}

.services__card-link {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  display: inline-flex;
  gap: 15px;
  text-decoration: none;
}

.services__card-link:active {
  opacity: 30%;
}

.services__card-link::after {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#arrow-right");
  width: 24px;
  height: 12px;
  mask-position: 0 0;
  mask-repeat: no-repeat;
  background-color: $black;
}

.services__card-link:hover::after {
  width: 32px;
}
