@use "../common/mixins.scss";
@use "../common/variables.scss";

.social {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  padding: 0 0 20px;
  list-style-type: none;
  border-bottom: 1px solid $border-color-tertiary;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
  }
}

.social__item {
  margin-right: 24px;
}

.social__link::after {
  content: "";
  mask-position: center;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
  background-color: $icon-color;
}

.social__link:hover::after {
  background-color: $color-primary;
}

.social__link:active::after {
  background-color: $color-primary;
  opacity: 30%;
}

.social__link--vkontakte::after {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube::after {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram::after {
  mask-image: url("../../icons/stack.svg#telegram");
}
