@use "../common/mixins.scss";
@use "../common/variables.scss";

.special-offer {
  background-image:
    image-set(
      url("../../images/background-image-cat-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/background-image-cat-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/background-image-cat-mobile@1x.png") type("image/png") 1x,
      url("../../images/background-image-cat-mobile@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../../images/background-image-cat-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/background-image-cat-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/background-image-cat-tablet@1x.png") type("image/png") 1x,
        url("../../images/background-image-cat-tablet@2x.png") type("image/png") 2x
      );
    width: 100%;
    min-height: 200px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 125px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/background-image-cat-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/background-image-cat-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/background-image-cat-desktop@1x.png") type("image/png") 1x,
        url("../../images/background-image-cat-desktop@2x.png") type("image/png") 2x
      );
    width: 245px;
    height: 288px;
    flex-direction: column;
    padding: 20px 10px;
    justify-content: start;
  }
}

.special-offer__text {
  font-size: 16px;
  line-height: 20px;
  max-width: 161px;
  text-align: center;
  color: $white;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.special-offer::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#catalog-gift");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, 58px);
  margin-bottom: 107px;

  @media (min-width: $tablet-width) {
    margin: 0;
    transform: translate(-46px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(0, 37px);
    margin-bottom: 84px;
  }
}
