@use "../common/mixins.scss";
@use "../common/variables.scss";

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 32px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 40px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 72px;
  }
}

.subscribe__content {
  @media (min-width: $tablet-width) {
    padding: 0 68px;
  }
}

.subscribe__description {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 21px;
  }
}

.subscribe__form {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    margin-bottom: 104px;
  }
}

.subscribe__input {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 30px;
  color: $base-color-text;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid $border-color-secondary;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }

  &:hover {
    border: 1px solid $border-color-secondary;
  }

  &:focus {
    outline: none;
    border: 2px solid $base-color-text;
  }
}

.subscribe__input--error {
  border: 2px solid $color-error;
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  width: 100%;
  padding: 15px 70px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
